#!/usr/bin/env bash

PKG=bench-fio

export GOPATH=`pwd`/.__GOPATH__
export PATH=${GOPATH}/bin:${PATH}

#set -x
[ ! -d ${GOPATH} ] \
&& ( \
  mkdir -p ${GOPATH}/src && \
  mkdir -p ${GOPATH}/pkg && \
  mkdir -p ${GOPATH}/bin && \
  mkdir -p `dirname ${GOPATH}/src/${PKG}` && \
  ln -fns ../`echo ${PKG} | sed -e 's/[^\/\]*/../g'` ${GOPATH}/src/${PKG} \
  || ( \
    echo failed to create GOPATH layout 1>&2 ; \
    exit 1 \
  )\
)
